@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap')

body
  font-size: 14px
  color: #34495e
  font-family: 'Open Sans', sans-serif


.logo-title
  font-size: 30px
  font-weight: 900 !important

.letter-5
  letter-spacing: .5px

@media screen and (max-width: 650px)
  .logo-title
    font-size: 18px

